:root {
  --color-text-dark: #333333;
  --color-text-light: #757575;

  --color-background-dark: #111111;
  --color-background-mid-dark: #222222;
  --color-background-light: #f9f9f9;
  --color-background-very-light: #fff;

  --shadow-small: 0 0 1rem rgba(0, 0, 0, 0.09);
  --speed-default: 0.3s;
  --speed-medium: 0.4s;
}
