@use '../global' as *;

// Desktop Navigation
.nav {
  padding: 1.2rem 4.8rem 1.2rem 5.8rem;
  font-size: 1.8rem;
  background-color: var(--color-background-dark);

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
  overflow: hidden;

  animation: moveInTop 1.2s ease;

  @include respond($bp-large) {
    padding: 0.8rem 2.4rem 0.8rem 2.4rem;
  }

  // Logo
  .logo {
    height: 6.8rem;
    transition: all var(--speed-default);
    display: block;
    cursor: pointer;

    &:hover {
      opacity: 0.5;

      // Disable scale logo for mobile
      @include respond($bp-large) {
        opacity: 1;
      }
    }

    // Disable logo interaction for mobile
    @include respond($bp-large) {
      height: 5.4rem;
    }
  }

  // Nav List
  ul {
    display: flex;
    gap: 2.4rem;

    @include respond($bp-large) {
      display: none;
    }

    li {
      list-style: none;
    }

    a:link,
    a:visited {
      display: inline-block;
      color: var(--color-text-dark);
      color: #fff;
      font-weight: 300;
      text-decoration: none;
      transition: all var(--speed-default);
    }

    a:hover,
    a:active {
      color: var(--color-text-light);
    }
  }

  // Menu Icons
  .hamburger-menu {
    display: none;

    @include respond($bp-large) {
      display: block;
    }

    // Hamburger Menu Icon
    &-icon {
      cursor: pointer;
      animation: buttonMoveInTop 0.5s ease;

      &:hover path {
        fill: var(--color-text-light);
        transition: all var(--speed-default);

        // Disable hover for mobile
        @include respond($bp-large) {
          fill: #fff;
        }
      }
    }
  }

  .close-menu {
    display: none;

    @include respond($bp-large) {
      display: block;
    }

    // Close Menu Icon
    &-icon {
      cursor: pointer;
      animation: buttonMoveInBottom 0.5s ease;

      &:hover path {
        fill: var(--color-text-light);
        transition: all var(--speed-default);

        // Disable hover for mobile
        @include respond($bp-large) {
          fill: #fff;
        }
      }
    }
  }
}

// Mobile Navigation
.mobile-nav {
  position: fixed;
  left: 0;
  top: 7rem;
  width: 100%;
  z-index: 300;

  font-size: 2rem;
  background-color: var(--color-background-mid-dark);

  display: flex;

  transition: all 0.5s ease;

  display: none;

  @include respond($bp-large) {
    display: block;
  }

  // Nav List
  ul {
    li {
      list-style: none;
      text-align: center;

      &:not(:last-child) {
        border-bottom: #363636 solid 1px;
      }
    }

    a:link,
    a:visited {
      display: block;
      font-weight: 400;
      color: var(--color-text-dark);
      color: #fff;
      text-decoration: none;
      transition: all var(--speed-default);
      padding: 2.4rem;
    }

    a:hover,
    a:active {
      color: #757575;

      // Disable hover for mobile
      @include respond($bp-large) {
        color: #fff;
      }
    }
  }
}

// Mobile Navigation Closed and Open States
.closed-menu {
  max-height: 0;
  opacity: 0.25;
  overflow: hidden;
}

.open-menu {
  max-height: 29.4rem;
  opacity: 1;
  overflow: auto;
  overflow-y: hidden;
}

// Main Navigation Intro Animation
@keyframes moveInTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    filter: blur(3px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

// Overlay
.overlay {
  background-color: #0b0b0b3c;
  backdrop-filter: blur(4px);
  position: fixed;
  top: 36.04rem;
  height: 100vh;
  width: 100%;
  z-index: 300;
  transition: all 0.5s ease;

  display: none;

  @include respond($bp-large) {
    display: block;
  }
}

// Overlay Closed and Open States
.closed-overlay {
  transform: translateX(100%);
  opacity: 0.25;
}

.open-overlay {
  transform: translateX(0);
  opacity: 1;
}

// Menu Buttons Animations
@keyframes buttonMoveInTop {
  0% {
    transform: translateY(-2rem);
    filter: blur(3px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes buttonMoveInBottom {
  0% {
    transform: translateY(2rem);
    filter: blur(3px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
